.progressComponent {

  position: sticky;
  z-index: 999999;
  top: 0;
  left: 100%;
  width: fit-content;
  text-align: right;
  //user-select: none;

  p {
    font-size: 3rem;
    opacity: 0.5;
  }

}

@media screen and (max-width: 700px) {
  .progressComponent { display: none; }
}