.githubRepoComponent {
  
  width: 100%;
  height: auto;
  padding: 40px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);

  * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  section {
    padding: 0;
  }

  .descriptionSection {
    margin-bottom: 15px;

    b {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      font-size: 14px;
    }


  }

  .metaSection {

    display: flex;
    align-items: center;
    gap: 20px;

    small {
      font-size: 12px;
    }

    .programmingLanguage {
      display: flex;
      align-items: center;
      gap: 5px;

      .languageColor {

        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: solid 0.5px whitesmoke;

      }      

    }

  }

}