@import "./../styles/constants.scss";


.priorityHeading {}

.landingSection {

  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  .landingChinese {
    display: flex;
    top: $fancyHeadingFontSize;
    left: 0;
    height: 600px;
    opacity: 0.04;
    background-color: black;
    color: white;
    padding: 10px 0;

    h1 {
      font-size: 6rem;
      writing-mode: vertical-lr;
      height: fit-content;
    }

  }

  .landingName {
    z-index: 100;
    top: 0;
    right: 0;
  }

  img {
    $offset: 50px;
    $size: 300px;
    width: $size;
    height: $size;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0 $offset 200px $softShadowColor;
  }

  article {
    margin-top: 100px;
  }

  article h1 {
    word-wrap: normal;
    word-break:keep-all;
    hyphens: initial;
  }

  article p {
    margin-left: 10px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 1300px) {
  .landingSection {
    flex-direction: column;

    article {
      width: 100%;
      text-align: center;

      h1 {
        text-align: left;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }

    }

  }
}
@media screen and (max-width: 350px) {
  .landingSection {
    padding: 50px 10px;
  }
}


.projectsSection {

  background-color: white;
  z-index: 1;

  position: relative;
  padding: 100px 0 0 5%;
  margin: 200px 0;

  display: flex;
  justify-content: space-evenly;
  gap: 100px;


  $top: 0px;
  $line-length: 80%;
  $line-width: 3px;
  $font-size: 30px;

  .line {
    width: $line-length;
    height: $line-width;
    position: absolute;
    color: rgba(0, 0, 0 ,1);
    background-color: rgba(0, 0, 0);
    font-size: $font-size;
    opacity: $backgroundOpacity * 2;
    z-index: -1;
  }

  .lineStart {
    top: $top;
    left: 0;
  }

  .lineEnd {
    right: 0;
    bottom: 0;
    text-align: right;
  }

  $font-size: 80px;
  $bannerWidth: calc($font-size + 2 * 10px);
  $bannerOffset: 100% - $line-length;
  .bannerVertical {
    top: $top + $line-width;
    height: fit-content;
    padding: 20px 0;
    font-size: $font-size;
    width: $bannerWidth;
    right: calc($bannerOffset + $line-width);
    color: white;
    text-align: center;
  }
  .lineVertical {
    top: $top + $line-width;
    right: $bannerOffset;
    width: $line-width;
    height: calc(100% - $top - $line-width * 2);
  }

  .headingAside { 
    
    > .fancyHeading {
      z-index: 2;
      font-size: $fancyHeadingFontSize;
      position: sticky;
      text-align: right;
      top: $top;
      line-height: 1;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;
      font-family: 'Playfair Display', serif;
    }
  }

  .projectListSection { 
    padding: 0;

    > article {

      padding: 50px 0;

      h1 {
        line-height: 1.4;
      }

    }

  }
}

@media screen and (max-width: 1000px) {

  .projectsSection {
    
    flex-direction: column;
    gap: 0;

    $top: 100px;

    .headingAside {

      // * choose arbitrarily large number
      width: 1000px;
      height:auto;

      .fancyHeading {
        top: $top;
        position: absolute;
        text-align: left;
        width: 1000px;
      }

    }

    $line-length: 100%;
    $line-width: 3px;
  
    .line {
      width: $line-length;
      height: $line-width;
      position: absolute;
      color: black;
      background-color: rgba(0, 0, 0);
      opacity: $backgroundOpacity;
      z-index: -1;
    }


    .lineVertical {
      display: none;
    }

    .bannerVertical {
      color: white;
      $font-size: 150px;
      font-size: $font-size;
      position: absolute;
      width: $font-size * 2 + 20px;
      height: fit-content;
      top: calc($fancyHeadingFontSize + $top * 2);
      right: 0;
      opacity: 0.04;
    }

    .projectListSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $top - 50px;

      > article {
        text-align: center;
        margin-bottom: 100px;

        h2 {
          display: block;
          margin-right: auto;
          margin-left: auto;
        }

      }

    }

  }

}

.socialMediaSection {
  margin-top: 300px;
  padding-top: 0;
  padding-right: 0;

  position: relative;
  z-index: 2;

  > .fancyHeading {
    position: absolute;
    top: 0;
    left: 0;

    writing-mode: vertical-rl;
    text-orientation: mixed;
  }


  .chinese {
    position: absolute;
    background-color: black;
    opacity: $backgroundOpacity * 2;
    color: white;
    padding: 0 10px;
    top: 0;
    right: 0;
  }

} 

@media screen and (max-width: 1250px) {
  .socialMediaSection .chinese {
    opacity: $backgroundOpacity;
  }
}

@media screen and (max-width: 1000px) {
  .socialMediaSection {
    margin-top: 0px;
    padding-top: 200px;

    .fancyHeading {
      top: 0;
      left: 0;
      text-align: start;
      
      width: 100000px;
      word-wrap: normal;
      word-break:keep-all;
      hyphens: initial;

      transform: rotateZ(0deg);
    }

    .chinese {
      top: $fancyHeadingFontSize;
    }

  }
}

.instagram {
}
.github .simplebar {
  display: flex;
  width: 80%;
  height: 500px;
  flex-direction: column;
}
.youtube iframe {
  box-shadow: 0 50px 150px $softShadowColor;
}

@media screen 
  and (max-width: $mediaQuerySize1) {
  
  .socialMediaSection {
    padding: 100px 5%;
  }

  .socialMediaSection > article, 
  .socialMediaSection > h2 {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .github .simplebar {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
  }

} 


.contactSection {

  margin-top: $fancyHeadingFontSize * 2;
  position: relative;
  width: 100%;

  .fancySection {
    top: 0;
    right: 0;
    position: absolute;
    width: fit-content;

    .fancyHeading {
      position: absolute;
      top: 0;
  
      &:first-child {
        right: $fancyHeadingFontSize;
      }
      &:nth-child(2) {
        top: $fancyHeadingFontSize;
        right: 0;
      }
      &:nth-child(3) {
        top: $fancyHeadingFontSize * 2;
        left: 0;
      }
  
    }

  }

  > h1 {
    position: absolute;
    left: 0;
    top: -$fancyHeadingFontSize;
    opacity: $backgroundOpacity * 2;
  }

  .line {
    position: absolute;
    height: 3px;
    width: 40%;

    top: 0;
    left: 0;

    text-align: end;
    background-color: black;
    opacity: $backgroundOpacity * 2;
  }


  $gap: 100px;
  display: grid;
  grid-template-areas: 
    "form article"
    "form article";
  grid-template-columns: 60% 40%;
  gap: $gap;

  h2 {
    grid-area: heading;
    width: min-content;
  }

  aside {
    grid-area: article;
    width: 100%;
  }

  .form {
    width: 100%;
    grid-area: form;

    display: grid;
    gap: 50px;
    grid-row: repeat(5, 1fr);

    input[type="submit"] {
      width: fit-content;
    }

    .flexBox {
      padding: 0;
      display: flex;
      gap: 50px;
      justify-content: start;
      align-items: center;

      .statusError {
        color: indianred;
      }
  
      .statusSuccess {
        color: green;
      }

    }

  }

}

@media screen and (max-width: 1050px) {

  .contactSection {

    padding: 100px 5%;
    grid-template-areas: 
      "article article"
      "form form";
    $gap: 100px;
    grid-template-columns: calc(60% - $gap / 2)  calc(40% - $gap / 2);

    .fancySection .fancyHeading:nth-child(3) {
      top: $fancyHeadingFontSize * 2;
      right: 0;
      left: unset;
    }
    
    .line {
      width: 80%;
      top: -$fancyHeadingFontSize;
    }

    .form {
      margin-top: 150px;
      position: relative;
      background-color: white;
      z-index: 1;
      margin-left: -5%;
      width: 110%;
      padding: 5%;
      border-top: solid 3px rgba(0, 0, 0, $backgroundOpacity);
    }


    aside {
      width: 100%;
    }

  }

}
