.fancyHeading {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  line-height: 0.9em;
}

.landingSection {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.landingSection .landingChinese {
  display: flex;
  top: 10rem;
  left: 100px;
  height: 600px;
  opacity: 0.05;
}
.landingSection .landingChinese h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landingSection .landingName {
  top: 0;
  right: 0;
  opacity: 0.05;
}
.landingSection img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background-color: white;
  box-shadow: 0 50px 150px rgba(0, 0, 0, 0.2);
}
.landingSection article p {
  line-height: 1.5;
  margin-left: 10px;
  margin-bottom: 15px;
}
.landingSection article h1 {
  word-wrap: normal;
  word-break: keep-all;
  -webkit-hyphens: initial;
      -ms-hyphens: initial;
          hyphens: initial;
  margin-bottom: 50px;
}

@media screen and (max-width: 1300px) {
  .landingSection {
    flex-direction: column;
  }
  .landingSection article {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .landingSection article h1 {
    font-size: 3em;
  }
}
.projectsIntroductionSection {
  margin: 500px 0;
  align-items: flex-start;
  justify-content: stretch;
  display: flex;
}
.projectsIntroductionSection section {
  padding: 0;
}
.projectsIntroductionSection h2 {
  flex: 1;
  font-size: 10em;
}
.projectsIntroductionSection h2 span {
  display: block;
}
.projectsIntroductionSection section {
  flex: 1;
  display: grid;
  grid-template-areas: ". . f ." "s o . t" "w . r e" ". a . .";
  gap: 0;
}
.projectsIntroductionSection section h2 {
  width: 5px;
  text-align: center;
}
.projectsIntroductionSection section .s {
  grid-area: s;
  opacity: 0.7;
}
.projectsIntroductionSection section .o {
  grid-area: o;
  opacity: 0.7;
}
.projectsIntroductionSection section .f {
  grid-area: f;
  opacity: 0.7;
}
.projectsIntroductionSection section .t {
  grid-area: t;
  opacity: 0.7;
}
.projectsIntroductionSection section .w {
  grid-area: w;
}
.projectsIntroductionSection section .a {
  grid-area: a;
}
.projectsIntroductionSection section .r {
  grid-area: r;
}
.projectsIntroductionSection section .e {
  grid-area: e;
}

.projectsSection {
  position: relative;
  padding: 100px 0 0 100px;
  margin: 200px 0;
  display: grid;
  grid-template-areas: "headingAside projectListSection";
}
.projectsSection .line {
  width: 80%;
  height: 3px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  opacity: 0.4;
}
.projectsSection .lineStart {
  top: 50px;
  left: 0;
}
.projectsSection .lineEnd {
  right: 0;
  bottom: 0;
  text-align: right;
}
.projectsSection .headingAside {
  grid-area: headingAside;
}
.projectsSection .projectListSection {
  margin-top: 300px;
  grid-area: projectListSection;
  padding: 0;
}
.projectsSection h2 {
  z-index: 2;
  left: 5%;
  opacity: 0.1;
  font-size: 10em;
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
  top: 50px;
  line-height: 1;
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 700px) {
  .projectsSection h2 {
    font-size: 6em;
  }
}/*# sourceMappingURL=index.module.css.map */