$fancyHeadingFontSize: 10rem;


.fancyHeading {
  font-size: $fancyHeadingFontSize;
  font-family: 'Playfair Display', serif;
  line-height: 0.9em;
}

.landingSection {

  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  .landingChinese {
    display: flex;
    top: $fancyHeadingFontSize;
    left: 100px;
    height: 600px;
    opacity: 0.05;

    h1 {
      writing-mode: vertical-lr;
      height: fit-content;
    }

  }

  .landingName {
    top: 0;
    right: 0;
    opacity: 0.05;
  }

  img {
    $offset: 50px;
    $size: 300px;
    width: $size;
    height: $size;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0 $offset 150px rgba(0, 0, 0, 0.2);
  }

  article p {
    line-height: 1.5;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  article h1 {
    word-wrap: normal;
    word-break:keep-all;
    hyphens: initial;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 1300px) {

  .landingSection {
    flex-direction: column;

    article {
      width: 100%;
      text-align: center;
    }

  }

}

@media screen and (max-width: 600px) { 


  .landingSection article h1 {
    font-size: 3em;
  }

}


.projectsSection {

  position: relative;
  padding: 100px 0 0 100px;
  margin: 200px 0;
  //display: flex;
  //flex-direction: column;

  $top: 50px;

  .line {
    width: 80%;
    height: 3px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    opacity: 0.4;
  }

  .lineStart {
    top: $top;
    left: 0;
  }

  .lineEnd {
    right: 0;
    bottom: 0;
    text-align: right;
  }

  display: grid;
  grid-template-areas: 
    "headingAside projectListSection";

  .headingAside { grid-area: headingAside }

  .projectListSection { 
    margin-top: 300px;
    grid-area: projectListSection;
    padding: 0;
  }

  h2 {
    z-index: 2;
    left: 5%;
    opacity: 0.1;
    font-size: 10em;
    position: sticky;
    text-align: right;
    top: $top;
    line-height: 1;
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    font-family: 'Playfair Display', serif;
  }
}

@media screen and (max-width: 700px) {
  
  .projectsSection h2 {
    font-size: 6em;
  }

}