.landingSection {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.landingSection .landingChinese {
  display: flex;
  top: 10rem;
  left: 0;
  height: 600px;
  opacity: 0.04;
  background-color: black;
  color: white;
  padding: 10px 0;
}
.landingSection .landingChinese h1 {
  font-size: 6rem;
  writing-mode: vertical-lr;
  height: -moz-fit-content;
  height: fit-content;
}
.landingSection .landingName {
  z-index: 100;
  top: 0;
  right: 0;
}
.landingSection img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background-color: white;
  box-shadow: 0 50px 200px rgba(0, 0, 0, 0.15);
}
.landingSection article {
  margin-top: 100px;
}
.landingSection article h1 {
  word-wrap: normal;
  word-break: keep-all;
  -webkit-hyphens: initial;
          hyphens: initial;
}
.landingSection article p {
  margin-left: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .landingSection {
    flex-direction: column;
  }
  .landingSection article {
    width: 100%;
    text-align: center;
  }
  .landingSection article h1 {
    text-align: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 350px) {
  .landingSection {
    padding: 50px 10px;
  }
  .landingSection img {
    width: 80vw;
    height: 80vw;
  }
}
.projectsSection {
  background-color: white;
  z-index: 1;
  position: relative;
  padding: 100px 0 0 5%;
  margin: 200px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
.projectsSection .line {
  width: 80%;
  height: 3px;
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  opacity: 0.1;
  z-index: -1;
}
.projectsSection .lineStart {
  top: 0px;
  left: 0;
}
.projectsSection .lineEnd {
  right: 0;
  bottom: 0;
  text-align: right;
}
.projectsSection .bannerVertical {
  top: 3px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
  font-size: 80px;
  width: 100px;
  right: calc(20% + 3px);
  color: white;
  text-align: center;
}
.projectsSection .lineVertical {
  top: 3px;
  right: 20%;
  width: 3px;
  height: calc(100% - 0px - 6px);
}
.projectsSection .headingAside > .fancyHeading {
  z-index: 2;
  position: sticky;
  text-align: right;
  top: 0px;
  line-height: 1;
  width: min-intrinsic;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
  font-family: "Playfair Display", serif;
}
.projectsSection .projectListSection {
  padding: 0;
}
.projectsSection .projectListSection > article {
  padding: 50px 0;
}
.projectsSection .projectListSection > article h1 {
  line-height: 1.4;
}

@media screen and (max-width: 1000px) {
  .projectsSection {
    flex-direction: column;
    gap: 0;
  }
  .projectsSection .headingAside {
    width: 1000px;
    height: auto;
  }
  .projectsSection .headingAside .fancyHeading {
    top: 100px;
    position: absolute;
    text-align: left;
    width: 1000px;
  }
  .projectsSection .line {
    width: 100%;
    height: 3px;
    position: absolute;
    color: black;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
    z-index: -1;
  }
  .projectsSection .lineVertical {
    display: none;
  }
  .projectsSection .bannerVertical {
    color: white;
    font-size: 150px;
    position: absolute;
    width: 320px;
    height: -moz-fit-content;
    height: fit-content;
    top: calc(10rem + 200px);
    right: 0;
    opacity: 0.04;
  }
  .projectsSection .projectListSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .projectsSection .projectListSection > article {
    text-align: center;
    margin-bottom: 100px;
  }
  .projectsSection .projectListSection > article h2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.socialMediaSection {
  margin-top: 300px;
  padding-top: 0;
  padding-right: 0;
  position: relative;
  z-index: 2;
}
.socialMediaSection > .fancyHeading {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.socialMediaSection .chinese {
  position: absolute;
  background-color: black;
  opacity: 0.1;
  color: white;
  padding: 0 10px;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1250px) {
  .socialMediaSection .chinese {
    opacity: 0.05;
  }
}
@media screen and (max-width: 1000px) {
  .socialMediaSection {
    margin-top: 0px;
    padding-top: 200px;
  }
  .socialMediaSection .fancyHeading {
    top: 0;
    left: 0;
    text-align: start;
    width: 100000px;
    word-wrap: normal;
    word-break: keep-all;
    -webkit-hyphens: initial;
            hyphens: initial;
    transform: rotateZ(0deg);
  }
  .socialMediaSection .chinese {
    top: 10rem;
  }
}
.github .simplebar {
  display: flex;
  width: 80%;
  height: 500px;
  flex-direction: column;
}

.youtube iframe {
  box-shadow: 0 50px 150px rgba(0, 0, 0, 0.15);
  height: 315px;
  width: 560px;
}

@media screen and (max-width: 620px) {
  .youtube iframe {
    width: 100%;
    height: 56.25vw;
  }
}
@media screen and (max-width: 900px) {
  .socialMediaSection {
    padding: 100px 5%;
  }
  .socialMediaSection > article,
  .socialMediaSection > h2 {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .github .simplebar {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
  }
}
.contactSection {
  margin-top: 20rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "form article" "form article";
  grid-template-columns: 60% 40%;
  gap: 100px;
}
.contactSection .fancySection {
  top: 0;
  right: 0;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
.contactSection .fancySection .fancyHeading {
  position: absolute;
  top: 0;
}
.contactSection .fancySection .fancyHeading:first-child {
  right: 10rem;
}
.contactSection .fancySection .fancyHeading:nth-child(2) {
  top: 10rem;
  right: 0;
}
.contactSection .fancySection .fancyHeading:nth-child(3) {
  top: 20rem;
  left: 0;
}
.contactSection > h1 {
  position: absolute;
  left: 0;
  top: -10rem;
  opacity: 0.1;
}
.contactSection .line {
  position: absolute;
  height: 3px;
  width: 40%;
  top: 0;
  left: 0;
  text-align: end;
  background-color: black;
  opacity: 0.1;
}
.contactSection h2 {
  grid-area: heading;
  width: -moz-min-content;
  width: min-content;
}
.contactSection aside {
  grid-area: article;
  width: 100%;
}
.contactSection .form {
  width: 100%;
  grid-area: form;
  display: grid;
  gap: 50px;
  grid-row: repeat(5, 1fr);
}
.contactSection .form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
}
.contactSection .form .flexBox {
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: start;
  align-items: center;
}
.contactSection .form .flexBox .statusError {
  color: indianred;
}
.contactSection .form .flexBox .statusSuccess {
  color: green;
}

@media screen and (max-width: 700px) {
  .contactSection .fancySection .fancyHeading:first-child {
    right: 6rem;
  }
  .contactSection .fancySection .fancyHeading:nth-child(2) {
    top: 6rem;
    right: 0;
  }
}
@media screen and (max-width: 1050px) {
  .contactSection {
    padding: 100px 5%;
    grid-template-areas: "article article" "form form";
    grid-template-columns: calc(60% - 50px) calc(40% - 50px);
  }
  .contactSection .fancySection .fancyHeading:nth-child(3) {
    top: 20rem;
    right: 0;
    left: unset;
  }
  .contactSection .line {
    width: 80%;
    top: -10rem;
  }
  .contactSection .form {
    margin-top: 150px;
    position: relative;
    background-color: white;
    z-index: 1;
    margin-left: -5%;
    width: 110%;
    padding: 5%;
    border-top: solid 3px rgba(0, 0, 0, 0.05);
  }
  .contactSection aside {
    width: 100%;
  }
}/*# sourceMappingURL=index.module.css.map */