$fancyHeadingFontSize: 10rem;


.fancyHeading {
  font-size: $fancyHeadingFontSize;
  font-family: 'Playfair Display', serif;
  line-height: 0.9em;
  opacity: 0.05;
}

.landingSection {

  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  .landingChinese {
    display: flex;
    top: $fancyHeadingFontSize;
    left: 100px;
    height: 600px;
    opacity: 0.05;

    h1 {
      writing-mode: vertical-lr;
      height: fit-content;
    }

  }

  .landingName {
    top: 0;
    right: 0;
  }

  img {
    $offset: 50px;
    $size: 300px;
    width: $size;
    height: $size;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0 $offset 200px rgba(0, 0, 0, 0.15);
  }

  article h1 {
    word-wrap: normal;
    word-break:keep-all;
    hyphens: initial;
  }

  article p {
    margin-left: 10px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 1300px) {

  .landingSection {
    flex-direction: column;

    article {
      width: 100%;
      text-align: center;
    }

  }

}

@media screen and (max-width: 600px) { 


  .landingSection article h1 {
    font-size: 3em;
  }

}


.projectsSection {

  position: relative;
  padding: 100px 0 0 100px;
  margin: 200px 0;

  $top: 50px;
  $line-length: 80%;
  $line-width: 5px;
  $font-size: 30px;

  .line {
    width: $line-length;
    height: $line-width;
    position: absolute;
    background-color: rgba(0, 0, 0);
    font-size: $font-size;
    opacity: 0.1;
    z-index: -1;
  }

  .lineStart {
    top: $top;
    left: 0;
  }

  .lineEnd {
    right: 0;
    bottom: 0;
    text-align: right;
  }

  .lineHorizontal {
    top: $top + $line-width;
    height: calc(100% - $top - 2 * $line-width);
    $font-size: 80px;
    font-size: $font-size;
    width: $font-size  + 2 * 10px;
    right: 100% - $line-length;
    color: white;
    text-align: center;
  }

  display: grid;
  grid-template-areas: 
    "headingAside projectListSection";
  gap: 5%;

  .headingAside { 
    grid-area: headingAside;
    
    > h2 {
      z-index: 2;
      left: 5%;
      font-size: $fancyHeadingFontSize;
      position: sticky;
      text-align: right;
      top: $top;
      line-height: 1;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;
      font-family: 'Playfair Display', serif;
    }
  }

  .projectListSection { 
    grid-area: projectListSection;
    padding: 0;

    > article {

      padding: 50px 0;

      h1 {
        line-height: 1.4;
      }

    }

  }
}

@media screen and (max-width: 700px) {
  
  .projectsSection h2 {
    font-size: 6em;
  }

}