.fancyHeading {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  line-height: 0.9em;
  opacity: 0.05;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landingSection {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.landingSection .landingChinese {
  display: flex;
  top: 10rem;
  left: 100px;
  height: 600px;
  opacity: 0.04;
}
.landingSection .landingChinese h1 {
  font-size: 6rem;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landingSection .landingName {
  top: 0;
  right: 0;
}
.landingSection img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background-color: white;
  box-shadow: 0 50px 200px rgba(0, 0, 0, 0.15);
}
.landingSection article h1 {
  word-wrap: normal;
  word-break: keep-all;
  -webkit-hyphens: initial;
      -ms-hyphens: initial;
          hyphens: initial;
}
.landingSection article p {
  margin-left: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .landingSection {
    flex-direction: column;
  }
  .landingSection article {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .landingSection {
    padding: 50px 10px;
  }
}
.projectsSection {
  position: relative;
  padding: 100px 0 0 5%;
  margin: 200px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
.projectsSection .line {
  width: 80%;
  height: 5px;
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  opacity: 0.1;
  z-index: -1;
}
.projectsSection .lineStart {
  top: 50px;
  left: 0;
}
.projectsSection .lineEnd {
  right: 0;
  bottom: 0;
  text-align: right;
}
.projectsSection .bannerVertical {
  top: 55px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
  font-size: 80px;
  width: 100px;
  right: calc(20% + 5px);
  color: white;
  text-align: center;
}
.projectsSection .lineVertical {
  top: 55px;
  right: 20%;
  width: 5px;
  height: calc(100% - 50px - 10px);
}
.projectsSection .headingAside > .fancyHeading {
  z-index: 2;
  font-size: 10rem;
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
  top: 50px;
  line-height: 1;
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
  font-family: "Playfair Display", serif;
}
.projectsSection .projectListSection {
  padding: 0;
}
.projectsSection .projectListSection > article {
  padding: 50px 0;
}
.projectsSection .projectListSection > article h1 {
  line-height: 1.4;
}

@media screen and (max-width: 1000px) {
  .projectsSection {
    flex-direction: column;
    gap: 0;
  }
  .projectsSection .headingAside {
    width: 1000px;
    height: auto;
  }
  .projectsSection .headingAside .fancyHeading {
    top: 100px;
    position: absolute;
    text-align: left;
    width: 1000px;
  }
  .projectsSection .line {
    width: 100%;
    height: 5px;
    position: absolute;
    color: black;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
    z-index: -1;
  }
  .projectsSection .lineVertical {
    display: none;
  }
  .projectsSection .bannerVertical {
    color: white;
    font-size: 150px;
    position: absolute;
    width: 320px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: calc(10rem + 200px);
    right: 0;
    opacity: 0.04;
  }
  .projectsSection .projectListSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .projectsSection .projectListSection > article {
    text-align: center;
    margin-bottom: 100px;
  }
}
.socialMediaSection {
  margin-top: 300px;
  padding-top: 0;
  padding-right: 0;
}
.socialMediaSection > .fancyHeading {
  position: absolute;
  top: 0;
  left: 10rem;
  text-align: end;
  transform-origin: top left;
  transform: rotateZ(90deg);
}
.socialMediaSection .chinese {
  position: absolute;
  background-color: black;
  opacity: 0.1;
  color: white;
  padding: 0 10px;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1250px) {
  .socialMediaSection .chinese {
    opacity: 0.05;
  }
}
@media screen and (max-width: 1000px) {
  .socialMediaSection {
    margin-top: 0px;
    padding-top: 200px;
  }
  .socialMediaSection .fancyHeading {
    top: 0;
    left: 0;
    text-align: start;
    width: 100000px;
    word-wrap: normal;
    word-break: keep-all;
    -webkit-hyphens: initial;
        -ms-hyphens: initial;
            hyphens: initial;
    transform: rotateZ(0deg);
  }
  .socialMediaSection .chinese {
    top: 10rem;
  }
}
.github .simplebar {
  display: flex;
  width: 80%;
  height: 500px;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .socialMediaSection {
    padding: 100px 5%;
  }

  .socialMediaSection > article, .socialMediaSection > h2 {
    text-align: center;
  }

  .github .simplebar {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
  }
}/*# sourceMappingURL=index.module.css.map */