@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700;900&family=Playfair+Display:wght@800&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  
  padding: 0;
  margin: 0;

  word-wrap: break-word;
  word-break:initial;
  hyphens: initial;

}

.chinese {
  font-family: 'Noto Sans SC', sans-serif;
  margin-bottom: 0;
  user-select: none;
}
.transparent {
  position: absolute;
  color: black;
  z-index: -1;
}

#__next, body, html {
  width: 100%;
  // * new way of containing elements and not showing overflow
  contain: paint;
}

main {
  min-width: 100%;
}


// typography
h1 {
  font-size: 8rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) { 
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 400px) { 
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 6rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) { 


  h2 {
    font-size: 3em;
  }

}

h3 {
  font-size: 3em;
  margin-bottom: 50px;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

small {
  font-size: 30px;
}



section {
  padding: 100px 200px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 600px) { 


  p {
    font-size: 1.2em;
  }

}